
.welcome-title {
    font-family: 'Brush Script MT', cursive;
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
}
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px); /* Adjusted height to account for the navbar */
    flex-direction: column;
}
.btn-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    padding: 30px;
    height: 150px;
}
.btn-custom i {
    margin-bottom: 10px;
    font-size: 32px;
}
.link-container {
    width: 100%;
    max-width: 600px;
}

body {
    background-color: #f8f9fa;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

.card-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

.card-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.btn {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
a.btn.btn-assign-notes {
    background: #d2eaff;
}
